{#
/**
 * @file
 * Theme override for custom contoller.
 *
 * Available variables
 * - form: The form rendered in the tutorial controler.
 *
 * @see hook_theme()
 */
#}




<button id ="skip-tuto-btn" class = "small-3 medium-3 large-3 small-offset-9 medium-offset-9 large-offset-9"><a href = ""  data-reveal-id = "skip-confirm">Skip tutorial</a></button>
<div id="new-player" class="tiny reveal-modal " data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    {{ form }}
</div>
<div id="skip-confirm" class="tiny reveal-modal " data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class = "lead">Are you sure you want to skip this tutorial?</p>
    <button id = "skip-confirm-btn" class = "small-3 medium-3 large-3 small-offset-9 medium-offset-9 large-offset-9"><a href="/game">Yes</a></button>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
