/*****HOME*****/
.home-form{
    background-color: #333333;
    padding-top: 2%;
    margin: 50px 0;
}
.home-form input{
    width: 100%;
    border-radius: 10px;
    font-size: 2em;
}
.home-form-title{
    text-align: center;
    color: #ffffff;
}
/*****NEW PLAYER*****/
#new-player{
    text-align: center;
}
#edit-new-player-confirm{
    display: none;
}